.hpblk { 
  padding-left: 44px;
  padding-top: 13px;
  border-bottom-width: 38px;
  padding-bottom: 10px;
  padding-bottom: 93px;
  border-top-width: 83px;
  border-bottom-width: 16px;
  line-height: 67px;
  margin-right: 36px;
}
